@mixin container() {
  width: min(100%, 73.4375rem);
  margin: 0 auto;
  padding-inline: 32px;
}

// Breakpoints
@mixin media-min($width) {
  @media screen and (min-width: $width) {
    @content
  }
}

@mixin media-max($width) {
  @media screen and (max-width: $width) {
    @content
  }
}

@mixin media-min-max($min-width, $max-width) {
  @media screen and (min-width: $min-width) and (max-width: $max-width) {
    @content
  }
}